/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03.11.2023, 08:53:42
    Author     : rwalter
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
=======
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	vertical-align: baseline;
>>>>>>> d176b96 (fix sidebar, add favicon)
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
<<<<<<< HEAD
    line-height: 1;
    font: 16px 'Inter';
=======
	line-height: 1;
>>>>>>> d176b96 (fix sidebar, add favicon)
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
    font: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.main-body {
    height: 100%
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    flex: 0 0 400px;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;

}

.company-logo {
<<<<<<< HEAD
    margin: 50px auto;
=======
    margin:50px auto;
    height:50px;
>>>>>>> d176b96 (fix sidebar, add favicon)
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.menu-item {
    width: fit-content;
    margin-bottom: 10px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
}

.menu-item a i {
    margin-right: 10px;
}

.main {
    padding-top: 150px;
    padding-right: 50px;
}

body .ui-tabmenu .ui-tabmenu-nav {
    overflow : hidden !important; 
    background: none !important;
}


body .ui-tabmenu.ui-tabs-left .ui-tabmenu-nav:before {
    display:none !important;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    background: none !important;
}

body .ui-tabmenu.ui-tabs-left .ui-tabmenu-nav .ui-tabmenuitem {
    border: none !important;
}
